@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Kurale", serif;
}

.heading{
  font-family: "Kumar One", serif;
}

.tokenomics{
  background-image: url("./assets/tokenomics.png");
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;

}